<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>폰살래말래</title>
    <style></style>
  </head>
  <body>
    <h2>이미지</h2>
    {% if results %}
    <table border="1">
      <tr>
        <th>이름</th>
        <th>자치구</th>
        <th>동</th>
        <th>금액(만원)</th>
        <th>평수</th>
        <th>연식</th>
        <th>역세권(거리)</th>
        <th>유사도</th>
      </tr>
      {% for item in results %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.gu }}</td>
        <td>{{ item.dong }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.pyung }}</td>
        <td>{{ item.years }}년</td>
        <td>{{ item.sub_dist }}m</td>
        <td>{{ '{:.2f}'.format(item.similarity) }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>추천 결과가 없습니다.</p>
    {% endif %}

    <script></script>
  </body>
</html>
